.event
  %p.photo
    = link_to(image_tag(image_for_drink(event.secondary_subject, :tiny), class: 'drink-photo', width:'50'), event.secondary_subject)

  %p.description
    %strong== #{link_to(event.secondary_subject.name, event.secondary_subject)}
    %br
    == #{link_to(event.actor.display_name, event.actor)} #{((event.subject.liked?) ? 'Liked' : 'Disliked')}

  %p.timeago
    %i.icon-time
    == #{time_ago_in_words(event.created_at)} ago

  .clear
