.box
  %h3= title
  .row
    - drink_collection.each do |drink|
      .drinkbox
        = link_to(image_tag(asset_path(image_for_drink(drink)), class: 'drink-photo'), drink)
        .name= link_to(drink.name, drink)
        .meta-data
          %i.icon-thumbs-up== &nbsp; #{drink.likes.count} Likes
          &nbsp;
          %i.icon-thumbs-down== &nbsp; #{drink.dislikes.count} Dislikes
