%h1= @drink.name

%p= @drink.glass

%p== Likes #{@drink.likes.count}
%p== Dislikes #{@drink.dislikes.count}

%ul
  - @drink.ingredients.each do |ingredient|
    %li= ingredient

= simple_format(@drink.instructions)
