%section.box.drink-show
  -if @drink.user == current_user
    .pull-right= link_to('Edit drink', edit_user_drink_path, class: 'btn btn-primary')
    
  %h3= @drink.name
  .span3
    .meta-data
      = image_tag('http://placehold.it/300x300', class: 'drink-photo')
      %p
        Mixed by mixologist #{link_to(@drink.user.name, @drink.user)}
        %br
        %span.likes= @drink.likes.count
        Likes
        &nbsp;
        %span.dislikes= @drink.dislikes.count
        Dislikes

      .likes-box
        = link_to('<i class="icon-thumbs-up"></i>'.html_safe, drink_ratings_path(@drink), rel: 'rate', 'data-feeling' => 1)
        &nbsp; &nbsp; &nbsp; &nbsp;
        = link_to('<i class="icon-thumbs-down"></i>'.html_safe, drink_ratings_path(@drink), rel: 'rate', 'data-feeling' => -1)

  .span4
    %h4 Ingredients
    %ul.components
      - @drink.components.each do |component|
        %li= component

    %h4 Instructions
    .instructions
      = simple_format(@drink.instructions)

    %h4== Serve In #{@drink.glass}
    = glass_image_for_drink(@drink)

  .clear

= render('drinks/drinks', title: 'Related Drinks', drink_collection: @related_drinks.results)
