%section.box
  .pull-right
    .follow-unfollow
      - if !current_user.anonymous? && current_user != @user && !current_user.follows?(@user)
        = link_to('<i class="icon-plus"></i> Follow'.html_safe, user_connections_path(@user), method: :post, remote: true, class: 'btn')
      - if current_user.follows?(@user)
        = link_to('<i class="icon-ban-circle"></i> Unfollow'.html_safe, user_connection_path(current_user, @user), method: :delete, remote: true, class: 'btn')

  %h1.page-header= @user.name

- unless @drinks.empty?
  = render('drinks/drinks', title: 'My Best Drinks', drink_collection: @drinks)
  = will_paginate(@drinks)

- unless @user.followings.empty?
  %section.box
    %h3 Following
    .row
      = render(partial: 'users/user', collection: @user.followings.collect { |f| f.destination })

- unless @user.followers.empty?
  %section.box
    %h3 Followers
    .row
      = render(partial: 'users/user', collection: @user.followers.collect { |f| f.source })

- if current_user == @user && !@user.friends.empty?
  %section.box
    %h3 Friends
    .row
      = render(partial: 'users/user', collection: @user.friends.collect { |f| f.source })

- if current_user == @user
  = render('feeds/feed', events: @user.activity_feed.limit(50))
