= simple_form_for([:user, @drink], html: {class: 'form-horizontal', multipart: true}) do |f|
  = f.input :name
  = f.input :photo
  = f.input :remote_photo_url, label: 'Photo URL', placeholder: "or past the url of a photo"
  = f.input :glass, :collection => GLASSWARE_OPTIONS, :prompt => "Preferred glassware"

  = f.input :description
  = f.input :instructions
  
  %p= link_to_add_fields(content_tag(:i, '', class: "icon-plus icon-white") + "Add Ingredient", f, :components, {class: "btn btn-small btn-success", rel: 'tooltip'})
    
  = f.fields_for(:components) do |c|
    = render("component_fields", f: c)
    
  .row
    %p= f.submit submit_tag, class: 'btn'
