= simple_form_for([:user, @drink], html: {class: 'form-horizontal', multipart: true}) do |f|
  = f.input :name
  = f.input :photo
  = f.input :remote_photo_url, label: 'Photo URL', placeholder: "or past the url of a photo"
  = f.input :glass, :collection => GLASSWARE_OPTIONS, :prompt => "Preferred glassware"

  = f.input :description
  = f.input :instructions

  = f.simple_fields_for(:components) do |c|
    = c.input :amount
    = c.input :unit

    = c.simple_fields_for(:ingredient) do |i|
      = i.input :name

  = f.submit submit_tag, class: 'btn'
