%section.box
  %h1 Learn Mixology

  .btn-toolbar
    .btn-group.sort-actions
      = link_to('All', '#', 'data-value' => 'all', :class => 'btn')
      - @categories.each do |ware_cat|
        = link_to(ware_cat.capitalize, '#', 'data-value' => ware_cat, :class => 'btn')

  .row
    %ul#sort-grid.wares
      - @wares.each do |ware|
        %li.ware(data-kind="#{ware.kind}" data-id="id-#{ware.id}")
          = link_to(image_tag(ware.photo_url(:thumb)), ware) if ware.photo?
          %h3= link_to(ware.name, ware)
          %p= truncate(ware.description, length: 20)
          %p= ware.kind