.box
  %h1= @ware.name
  = image_tag(@ware.photo_url(:thumb)) if @ware.photo?
  %h3 Description
  %p= @ware.description
  %p= @ware.kind

  -@ware.drinks.each do |drink|
    %li= link_to(drink.name, drink)
