.box
  %h3 Most Popular Drinks
  .row
    - @popular_drinks.each do |drink|
      .drinkbox.span2.center
        = link_to(image_tag('http://placehold.it/140x140', :class => 'img-polaroid'), drink)
        = link_to(drink.name, drink)
.box
  %h3 Up And Coming
  .row
    - @trending_drinks.each do |drink|
      .drinkbox.span2.center
        = link_to(image_tag('http://placehold.it/140x140', :class => 'img-polaroid'), drink)
        = link_to(drink.name, drink)
.box
  %h3 Recently Mixed
  .row
    - @recent_drinks.each do |drink|
      .drinkbox.span2.center
        = link_to(image_tag('http://placehold.it/140x140', :class => 'img-polaroid'), drink)
        = link_to(drink.name, drink)

- unless @classic_drinks.empty?
  .box
    %h3 The Classics
    .row
      - @classic_drinks.each do |drink|
        .drinkbox.span2.center
          = link_to(image_tag('http://placehold.it/140x140', :class => 'img-polaroid'), drink)
          .name= link_to(drink.name, drink)

- unless @star_mixologists.empty?
  - content_for(:sidebar) do
    .box
      %h3 RockStar Mixologists
      - @star_mixologists.each do |mixologist|
        .mixologist
          .email= link_to(mixologist.display_name, mixologist)
