.box
  %h3 Most Popular
  - @popular_drinks.each do |drink|
    .drink
      = link_to(drink.name, drink)
.box
  %h3 Trending
  - @trending_drinks.each do |drink|
    .drink
      = link_to(drink.name, drink)
.box
  %h3 Recently Mixed
  - @recent_drinks.each do |drink|
    .drink
      .name= link_to(drink.name, drink)

- unless @classic_drinks.empty?
  .box
    %h3 Classics
    - @classic_drinks.each do |drink|
      .drink
        .name= link_to(drink.name, drink)


- unless @star_mixologists.empty?
  .box
    %h3 Star Mixologists
    - @star_mixologists.each do |mixologist|
      .mixologist
        .email= link_to(mixologist.display_name, mixologist)
