= render('drinks/drinks', title: 'Most Popular Drinks', drink_collection: @popular_drinks)
= render('drinks/drinks', title: 'Up And Coming', drink_collection: @trending_drinks)
= render('drinks/drinks', title: 'Recently Mixed', drink_collection: @recent_drinks)

- unless @classic_drinks.empty?
  = render('drinks/drinks', title: 'The Classics', drink_collection: @classic_drinks)

- unless @star_mixologists.empty?
  - content_for(:sidebar) do
    .box
      %h3 RockStar Mixologists
      .feed
        - @star_mixologists.each do |mixologist|
          .event
            %p.photo
              = link_to(image_tag(mixologist.photo.tiny, class: 'drink-photo'), mixologist)

            %p.description
              %strong= link_to(mixologist.display_name, mixologist)
              %br
              %span.meta-data
                %i.icon-glass== &nbsp; #{mixologist.drinks.count} Mixed Drinks

            %p.timeago
              %i.icon-time
              == Member since #{time_ago_in_words(mixologist.created_at)}

            .clear
