!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="icon" type="image/png" href="/assets/favicon.png")
    %title= content_for?(:title) ? yield(:title) : "Mybestdrink"
    = csrf_meta_tags
    :javascript
      var bg = new Image();
      bg.src = '#{asset_path("background.jpg")}';
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"

  %body
    .navbar-fixed-top
      %header.white-bar
        %nav.mainnav.fancy
          .leftnav.align-right
            = link_to('Drinks', drinks_path)
            = link_to('Learn', wares_path)
            = link_to('Mixologists', users_path)
          .mainicon.center
            = link_to(image_tag('mbd-icon.png'), root_path)
          .rightnav
            - if current_user.anonymous?
              = link_to('Sign In', sign_in_path)
              = link_to('Register', new_user_registration_path)
              = link_to('About', about_path)
            - else
              = link_to('My Drinks', user_drinks_path)
              = link_to('Profile', edit_user_registration_path)
              = link_to('Sign out', sign_out_path)
          %br{:clear => 'all'}
    .main.container
      .logo-search.center
        .big-water-ring &nbsp;
        = render('shared/search')
        = link_to(image_tag('logo.png'), root_path, :id => 'logo')
      .body.content
        .row
          .span9
            = bootstrap_flash
            = yield
          .span3.sidebar
            = render('feeds/feed', events: TimelineEvent.limit(6))
            = yield(:sidebar)
    %footer.fancy.center.white-bar
      %p 
        www.MyBestDrink.com
        %br
        = link_to('Rails Rumble 2012', 'http://www.railsrumble.com', target: 'blank')
    = javascript_include_tag "application"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35520753-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    :javascript
      var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
      rumbleBannerBackgroundColor = "#161616";
      rumbleBannerTextColor = "#b0b0b0";
      rumbleBannerLinkColor = "#ffffff";
      rumbleBannerPlacement = "bottom";

    %script(src="http://s0.railsrumble.com/banner.js" type="text/javascript")
