!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Mybestdrink"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#{root_path}") My Best Drink
          .container.nav-collapse
            %ul.nav
              %li= link_to "Utensils", wares_path
              %li= link_to "Mixologists", mixologists_path
              %li= link_to "Drinks", drinks_path
            %ul.pull-right
              - if current_user.anonymous?
                %li= link_to "Register", new_user_registration_path
                %li= link_to "Sign in", sign_in_path
              -else
                / %li= link_to "Register", new_user_registration_path
                %li= link_to "Sign out", sign_out_path
    .container

      .content
        .row
          .span9
            = bootstrap_flash
            = yield
          .span3
            .well.sidebar-nav
              %h3 Sidebar
              %ul.nav.nav-list
                %li.nav-header Sidebar
                %li= link_to "Link 1", "/path1"
                %li= link_to "Link 2", "/path2"
                %li= link_to "Link 3", "/path3"
    
      %footer
        %p &copy; Company 2012
    = javascript_include_tag "application"
