!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title My Best Drink Mobile
    = csrf_meta_tags
    = stylesheet_link_tag 'mobile', :media => "screen"
  %body
    #wrap(data-role="page")
      #header(data-role="header")
        = yield(:header_left)
        %h1
          = image_tag('mbd-icon-mobile.png')
          %span My Best Drink
        = yield(:header_right)
      = render('shared/search')
      = yield
      #footer(data-role="footer" data-position="fixed")
        %nav(data-role="navbar" data-iconpos="top" role="navigation")
          %ul
            %li= link_to 'Learn Stuff', wares_path
            %li= link_to 'All Drinks', drinks_path
            %li= link_to 'Mixologists', users_path
        
    = javascript_include_tag 'mobile'